<h1>Blog!</h1>
<div class="row">

  <div class="col-md-4">
    <h2>Add a new Post</h2>
  	<form action="/add" method="post">
      <div class="form-group">
        <label for="title">Blog post title</label>
        <input type="text" id="title" name="title" placeholder="Blog post title" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="title">Blog post text</label>
        <textarea class="form-control" rows="5" id="body" name="body" placeholder="Blog post text"></textarea>
      </div>
      <button type="submit">Publish blog post</button>
  	</form>
  </div>

  <div class="col-md-8">
  	{{#each entries}}
  	 <p>
  		 <a href="/article/{{id}}">{{title}}</a><br/>
  		 Published: {{published}}
  	</p>
  	{{/each}}
  </div>
</div>
